# Ignore Mac system files
.DS_Store

# Ignore PyCharm files
.idea
*.iml
*.xml
*.pem
*.txt
.env

# Ignore update of database file
*.db
faculty.db
data//sqlite3/*
lib/lda/*

# Ignore trained dataset
lda-trained*

# pycache
__pycache__
