# Ignore Mac system files
.DS_Store
__pycache__

# Ignore PyCharm files
.idea
*.iml
*.xml
*.pem
*.txt
.env

#ignore lda
lib/lda

# Ignore update of database file
*.db
faculty.db
data//sqlite3/*
lib/lda/*

# Ignore trained dataset
lda-trained*

# pycache
__pycache__
