beautifulsoup4~=4.10.0
urllib3
numpy~=1.21.4
nltk~=3.6.5
gensim~=4.1.2
requests~=2.26.0
flask~=2.0.2
gunicorn
scikit-learn~=1.0.1
tldextract~=3.1.2
selenium~=4.1.0
bs4~=0.0.1
python-decouple
webdriver-manager
