.main_cnt{
  background-color: #FFFFFF;
  font-family: sans-serif;
  font-size: 12pt;
}

body{
  line-height: 1.7;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

h2 {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}


h6 {
  color:#525252;
  font-family: sans-serif;
  font-size:16px;
  font-weight: bold;
  margin-top: 12px;
  width:fit-content;
 

}

@media screen and (min-width: 750px) {

.searchbox{
  width:400px!important;
}
}



.search-filter{
  border: 1px solid #d8d5d5;
  
}

.select2-container{
  width:70%!important;
  padding:0px!important;
  box-shadow:0 2px 4px rgba(0,0,0,.11)

}
#search-filters {
  
  padding-top:20px;
  padding-bottom: 10px;
  padding-left:20px;
  padding-right: 20px;
  background-color: aliceblue;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0,0,0,.11)
}

.navbar{
 
  /*background-color: #040404;*/
  background-color: #0b0f13;
  border-bottom:solid 0.02px #d8d5d5;
  opacity:0.97;
 
}

.navbar-brand{
  color:white;
}

.navbar .navbar-brand:hover, 
.navbar .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}



.input-group-button > .btn{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


.input-group-button > .btn:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:transparent; 
 outline: none;
}

.input-group-append > .btn:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:transparent; 
 outline: none;
}

/* stop the glowing blue shadow */
.add-on .searchbox:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:transparent; 
 outline: none;
}


.searchbox{margin-top: 0px;   
border:0;
padding-left: 10px;
padding-right: 10px;
box-shadow: 0 2px 4px rgba(0,0,0,.11);
 }



#loadMoreButton {
  display: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.11);
}

#docs-div{
      padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-left: 0;
}

.card{
 margin-top:20px;
 text-align: left;
 box-shadow: 0 2px 4px rgba(0,0,0,.11);
}


.card-header{
  /*background-color:rgba(0,0,0,.03);*/
  background-color:  #d7e9f7;
  display: flex; 
  flex-direction:column;
}

.card-body{
      /*background-color: rgba(0,0,0,.01)*/
      background-color: white;
}

.header-item{
  display: flex;
  font-size:14px;
  vertical-align: middle;
}

.tag .material-icons{
  vertical-align: middle;
  font-size:14px;

}
.navbar-nav .material-icons{
  vertical-align: middle;


}
#settingsButton{
  background-color: inherit;
  color:#c7c7c7;
}
.tag{
  margin-right:30px;
  color:#424242;

}

.hide{
    display: none;
}