<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}" crossorigin="anonymous"></script>
    <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <title>Expert Search</title>
  </head>
  <body>


    <div class="container" style="display: flex;flex-direction: column;">
<nav class="navbar  navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Expert Search</a>
    </div>
  
      <div class="navbar-nav mx-auto" >

      <div name="frmSearch">
        <!-- <label> Enter Search Query </label> --> 

        <div class="input-group add-on dropdown">
          <div class="input-group-button " >
        <button class="btn btn-default dropbtn" id="filterButton"><i class="material-icons" >filter_list</i></button>
      </div>
        <input type="text" id="query" placeholder=" Enter Search Query" class="searchbox">
        <div class="input-group-append">
        <button class="btn btn-default" id="submitButton" type="submit"><i class="material-icons" >search</i></button>
      </div>
    </div> 
    </div>

</div>

    <div class="navbar-nav ml-auto">
 <button class="btn btn-default" id="settingsButton" ><i class="material-icons">settings</i></button>
   </div> 
          
</div>
</nav>




       <div class="container-fluid main_cnt">

        <div class="col-md-10 mx-auto" id="search-filters" style="display: none;flex-direction: column;"> 
     <div class="row" style="margin: 8px">
      <h6   class="mr-auto">
  Locations
</h6>
     <select class="search-filter ml-auto" name="locs[]" id="loc_filter" multiple="multiple">
</select>


  </div>

  <div class="row" style="margin:8px;">
     <h6 class="mr-auto">
  Universities
</h6>
<select class="search-filter ml-auto"  name="unis[]" multiple="multiple" id="uni_filter">
</select>
</div>

  <div class="row" style="margin:8px;">
     <h6 class="mr-auto">
  Departments
</h6>
<select class="search-filter ml-auto"  name="depts[]" multiple="multiple" id="dept_filter">
</select>
</div>

<div class="row mx-auto" style="margin-top: 10px;">
<button type="button" class="btn btn-primary btn-sm" id="applyFilters" style="box-shadow: 0 2px 4px rgba(0,0,0,.11)">Apply Filters</button>
</div>
</div>

      <div id="docs-div" class="col-md-10 mx-auto"></div>
      <br>
      <center>
      <button type="button" class="btn btn-primary btn-sm" id="loadMoreButton">Load More</button>
      </center>
    </div>
     
</div>
     <script src="../static/js/index.js"></script>
      <script type="text/javascript">
        var unis = JSON.parse(unis);
        var locs = JSON.parse(locs);
        var depts = JSON.parse(depts);
    </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

  </body>
</html>